<p> {{title}}</p>

<input type="text" #name  placeholder="ENter your NAme" name="NAme" > <br>

<input type="text" #address placeholder="ENter your Address" name="address" > <br>

<input type="text" #contact placeholder="Enter Your Contact" name="contact" > <br>

<input type="text" #email placeholder="Enter Your Email" name="email" > <br>

<input type="text" #password placeholder="Enter Your PassWord" name="passWord" > <br><br>

<button (click)="getValue(name.value, address.value, contact.value, email.value)">Register</button>

<p>Your Registered Data</p>

<p>Name : {{displayname}}</p>
<p>Address : {{displayaddress}}</p>
<p>Contact:{{displaycontact}}</p>
<p>Email: {{displayemail}}</p>



